#container {
  margin: 0 1rem 0 1rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 70rem;
  min-height: 70rem;
  align-items: center;
  flex-direction: row;
  /* flex-direction: row-reverse; */
  justify-content: center;
  background-color: rgb(247, 244, 244);
}
