.element {
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 10px;

    position: relative;
  }
  
  .element button {
    margin-top: 15px;
    background: transparent;
    border: none;

    position: absolute;
    top: 0px;
  }
  .button_left {
    left: 0px;
  }
  .button_right {
    right: 0px;
  }
  .element img {
    /* object-fit: content; */
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .react-icons {
    vertical-align: middle;
    /* color: rgb(34, 28, 39); */
    color: rgba(20, 19, 20, 0.2);
    /* color: rgb(233, 230, 233); */
    height: 2em;
    width: 2em;
    /* border: 2px solid white; */
    /* border-radius: 50%; */
    /* position: absolute;
    top: 0px; */
  }
  .react-icons:hover {
    color: rgb(255,127,80);
  }
  button svg {
    stroke: crimson;
  }
  
  .element:nth-child(1) {
    background-color: rgb(221, 148, 148);
  }
  .element:nth-child(2) {
    background-color: rgb(143, 4, 4);
  }
  .element:nth-child(3) {
    background-color: rgb(47, 125, 145);
  }
  .element:nth-child(4) {
    background-color: rgb(202, 66, 202);
  }
  .element:nth-child(5) {
    background-color: rgb(48, 134, 116);
  }
  .element:nth-child(6) {
    background-color: rgb(174, 185, 68);
  }
  .element:nth-child(7) {
    background-color: rgb(84, 126, 18);
  }
  .element:nth-child(8) {
    background-color: rgb(248, 68, 68);
  }
  