.element {
  width: 100px;
  border: none;
  height: 100px;
  margin: 10px;
  position: relative;
  text-align: center;
  background-color: rgb(214, 210, 210);
}

.element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.element button {
  border: none;
  padding: 0px;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 55%;
}

.button_left {
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
}

.button_right {
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
}

.button_up {
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
}

.button_down {
  left: 50%;
  bottom: 2px;
  transform: translateX(-50%);
}

.react-icons {
  color: rgba(20, 19, 20, 0.4);
  width: 2em;
  height: 2em;
  vertical-align: middle;
}

.react-icons:hover {
  color: rgba(255, 127, 80, 0.5);
}
