.search-container {
  margin: 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  border: 1px solid rgb(76, 118, 141);
  height: 30px;
  outline: none;
  padding-left: 1rem;
  border-radius: 10px 0 0 10px;
}

.search-button {
  border: none;
  cursor: pointer;
  height: 30px;
  padding: 1px 6px 1px 6px;
  border-radius: 0 10px 10px 0;
  background-color: rgb(76, 118, 141);
}

.react-icons-search {
  fill: rgb(255, 255, 255);
  height: 100%;
}
